.marmeto-related-blogs__wrapper{
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  margin: 0 auto;
  gap: 10px;
}

.marmeto-related-blogs__header{
  margin-bottom: 20px;
}

.marmeto-related-blogs{
  margin-top: 20px;
}

.marmeto-related-blogs__container{
  max-width: 15rem;

}


@media screen and (min-width : 768px){
  .related-article__wrapper{
    max-width: 70%;
  }
  .marmeto-related-blogs__container{
    max-width: 30rem
  }
}

